@import '../variables.css';

.Post{
  padding: 1em;
  margin-bottom: 2em;
  box-shadow: 1px 0px 3px grey;
  position: relative;
}
.Post-title{
  font-size: 1.2em;
}
.Post-storyTitle{
  font-size: 1.5em;
}
.Post-ownerName{
  color: grey;
}

.Post-image{
  max-width: 100%;
}
